.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, button {
	font-family: 'Montserrat', sans-serif;
}

.game {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button {
    margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(145,30,180, .7);
	color: white;
	padding: 15px 25px;
	border-radius: 50px;
	width: 50%;
	font-size: 24px;
	box-shadow: 3px 3px 6px #777;
	border: none;
	outline: none;
	font-weight: 300;
	cursor: pointer;
}

.button:active {
    background-color: rgba(145,30,180, 1);
    box-shadow: 5px 5px 8px #666;
}

.button.repeat-pattern {
	width: 35px;
	height: 35px;
	top: 15px;
	transform: translateY(0);
	border-radius: 100%;
	padding: 5px;
	left: auto;
	right: 15px;
}

.gotit {
	top: auto;
	transform: translateY(0%);
	bottom: -110px;
}

.level {
    width: 60%;
    max-width: 450px;
    margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	margin-top: -55px;
}

.instructions, .message {
	color: white;
	font-weight: 300;
	margin-bottom: 50px;
	font-size: 16px;
}

.interaction {
	text-align: center;
}

.game-state {
	color: white;
	font-weight: 300;
	font-size: 24px;
	padding: 25px;
}

.tile {
    display: inline-block;
    margin: 10px;
    opacity: .6;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #777;
    transition: all .1s;
    box-sizing: border-box;
	cursor: pointer;
}

.small {
	width: 100px;
	height: 100px;
}

.medium {
	width: 150px;
	height: 150px;
}

.large {
	width: 200px;
	height: 200px;
}

.disabled {
	pointer-events: none;
}

.highlight {
    opacity: 1;
    box-shadow: 4px 4px 10px #333;
}

/*.highlight-tap {
	animation: highlight .6s;
}*/

@keyframes highlight {
  0% {
      opacity: .6;
      box-shadow: 3px 3px 6px #777;
  }
  25% {
      opacity: 1;
      box-shadow: 4px 4px 10px #333;
  }
  75% {
      opacity: 1;
      box-shadow: 4px 4px 10px #333;
  }
  100% {
      opacity: .6;
      box-shadow: 3px 3px 6px #777;
  }
}

@media (max-width: 480px) {
	.game-state {
		font-size: 18px;
		padding: 15px;
	}
	
	.instructions {
		padding: 25px;
		font-size: 14px;
		margin-bottom: 0;
	}
	
	.button {
		font-size: 18px;
		padding: 10px 20px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
	}
	
	.gotit {
		bottom: -65px;
	}
	
	.level {
		width: 95%;
		margin-top: -15px;
	}
	
	.tile {
		margin: 6px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		transition: all .05s;
	}
	
	.tile:active {
	    opacity: 1;
	    box-shadow: 4px 4px 10px #333;
	}
	
	.small {
		width: 75px;
		height: 75px;
	}

	.medium {
		width: 110px;
		height: 110px;
	}

	.large {
		width: 125px;
		height: 125px;
	}
}